<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Element Decomposition</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.5.1.2");
//-->
</script>

<h4 class="std">4.5.1.2 Element Decomposition</h4>
<p>Provision of an aggregation structure where the element, representing the composite, is decomposed into parts represented by other elements. </p>
<p>The composite then provides, if such concepts are in scope of the Model View Definition, exclusively the following:</p>
<ul>
<li><a href="placement.htm">Placement</a> &mdash; the common object coordinate system to which the parts are placed relative</li>
</ul>
<p>By default the following constraints apply to an element being decomposed by <a href="element-decomposition.htm">Element Decomposition</a>:</p>
<ul>
<li><a href="body-geometry.htm">Body Geometry</a> &mdash; composite is constructed from the sum of the <a href="body-geometry.htm">Body Geometry</a> of the parts;</li>
<li>the composite shall not have an own <a href="body-geometry.htm">Body Geometry</a>, body geometry is provided at the parts;</li>
<li>the composite shall not have an own <a href="material.htm">Material</a> assignment, material is assigned to the parts.</li>
</ul>
<p class="fig-ref">Figure 26 illustrates an instance diagram.</p>
<table><tr><td><img alt="Element Decomposition" src="./diagrams/element-decomposition.png" usemap="#f26"><map name="f26"><area shape="rect" coords="8,8,176,332" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcrelaggregates.htm" alt="IfcRelAggregates" /><area shape="rect" coords="408,8,576,332" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /></map></td></tr><tr><td><p class="figure">Figure 26 &mdash; Element Decomposition</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifcsharedbldgelements/lexical/ifcbeam.htm">IfcBeam</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifccolumn.htm">IfcColumn</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedcomponentelements/lexical/ifcmechanicalfastener.htm">IfcMechanicalFastener</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcmember.htm">IfcMember</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcstair.htm">IfcStair</a></td><td>O<br/>O</td>
</tr>
</table>
<p><a href="../../link/element-decomposition.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
