<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Feature Substraction</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.5.2.1");
//-->
</script>

<h4 class="std">4.5.2.1 Feature Substraction</h4>
<p class="fig-ref">Figure 30 illustrates an instance diagram.</p>
<table><tr><td><img alt="Feature Substraction" src="./diagrams/feature-substraction.png" usemap="#f30"><map name="f30"><area shape="rect" coords="8,8,176,332" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /><area shape="rect" coords="208,8,376,92" href="../ifcproductextension/lexical/ifcrelvoidselement.htm" alt="IfcRelVoidsElement" /><area shape="rect" coords="408,8,576,356" href="../ifcproductextension/lexical/ifcopeningelement.htm" alt="IfcOpeningElement" /></map></td></tr><tr><td><p class="figure">Figure 30 &mdash; Feature Substraction</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifcsharedbldgelements/lexical/ifcbeam.htm">IfcBeam</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifccolumn.htm">IfcColumn</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedcomponentelements/lexical/ifcdiscreteaccessory.htm">IfcDiscreteAccessory</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcmember.htm">IfcMember</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcplate.htm">IfcPlate</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcstair.htm">IfcStair</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcstairflight.htm">IfcStairFlight</a></td><td>O<br/>O</td>
</tr>
</table>
<p><a href="../../link/feature-substraction.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
