<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Material</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.3.1");
//-->
</script>

<h3 class="std">4.3.1 Material</h3>
<p class="std">

        Any product or product type can have associated materials indicating the physical composition of an object.

        Materials can have representations for surface styles indicating colors, textures, and light reflectance for 3D

        rendering. Materials can have representations for fill styles indicating colors, tiles, and hatch patterns for

        2D rendering. Materials can have properties such as density, elasticity, thermal resistance, and others as

        defined in this specification. Materials can also be classified according to a referenced industry standard.

      </p>

      <p class="std">

        An object can be comprised of a single material or a set of materials with a particular layout. Several

        examples include:

      </p>

      <ul class="std">

        <li class="std">a slab may have an associated layer of concrete;

        </li>

        <li class="std">a beam may have an associated I-Shape profile of steel;

        </li>

        <li class="std">a door may have associated constituents for framing and glazing;

        </li>

        <li class="std">a port may have an associated profile and/or material flowing through it such as hot water.

        </li>

      </ul>
<p><a href="../../link/material.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
