<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Material Solid</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.3.1.1");
//-->
</script>

<h4 class="std">4.3.1.1 Material Solid</h4>
<p>Materials are directly associated with products and product types to indicate a uniform material for the entire object.
</p>
<p>Material Common Name is defined using the name field of IfcMaterial</p><p class="fig-ref">Figure 8 illustrates an instance diagram.</p>
<table><tr><td><img alt="Material Solid" src="./diagrams/material-solid.png" usemap="#f8"><map name="f8"><area shape="rect" coords="8,8,176,116" href="../ifckernel/lexical/ifcobjectdefinition.htm" alt="IfcObjectDefinition" /><area shape="rect" coords="208,8,376,92" href="../ifcproductextension/lexical/ifcrelassociatesmaterial.htm" alt="IfcRelAssociatesMaterial" /><area shape="rect" coords="408,8,576,56" href="../ifcmaterialresource/lexical/ifcmaterial.htm" alt="IfcMaterial" /></map></td></tr><tr><td><p class="figure">Figure 8 &mdash; Material Solid</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifcsharedbldgelements/lexical/ifcbeam.htm">IfcBeam</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifccolumn.htm">IfcColumn</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcproductextension/lexical/ifcelementassembly.htm">IfcElementAssembly</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedcomponentelements/lexical/ifcfastener.htm">IfcFastener</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedcomponentelements/lexical/ifcmechanicalfastener.htm">IfcMechanicalFastener</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcmember.htm">IfcMember</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcplate.htm">IfcPlate</a></td><td>O<br/>O</td>
</tr>
</table>
<p><a href="../../link/material-solid.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
