<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Project Units</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.1.1");
//-->
</script>

<h3 class="std">4.1.1 Project Units</h3>
  <p class="std">

        The project context includes the definition of the default units within the IFC data set. Default units are

        those units that apply:

      </p>

      <ul class="std">

        <li class="std">to all geometric representation items within the geometric representation contexts;

        </li>

        <li class="std">to all attributes with a defined datatype indicating a measure datatype;

        </li>

        <li class="std">to all properties and quantities with a defined datatype indicating a measure datatype and with

        no local unit definitions provided.

        </li>

      </ul>
<p><a href="../../link/project-units.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
