<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Properties on Occurrences</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.2.1.1");
//-->
</script>

<h4 class="std">4.2.1.1 Properties on Occurrences</h4>
<p>Any specialization of <i>object</i> can be related to multiple <i>property set occurrences</i>. 
A property set
 contains multiple <i>property occurrences</i>. The data types of property occurrences are single value, enumerated value,
 bounded value, table value, reference value, list value,
 and combination of property occurrences.</p>
                <p class="fig-ref">Figure 5 illustrates an instance diagram.</p>
<table><tr><td><img alt="Properties on Occurrences" src="./diagrams/properties-on-occurrences.png" usemap="#f5"><map name="f5"><area shape="rect" coords="8,8,176,140" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcreldefinesbyproperties.htm" alt="IfcRelDefinesByProperties" /><area shape="rect" coords="408,8,576,116" href="../ifckernel/lexical/ifcpropertyset.htm" alt="IfcPropertySet" /><area shape="rect" coords="608,8,776,80" href="../ifcpropertyresource/lexical/ifcproperty.htm" alt="IfcProperty" /></map></td></tr><tr><td><p class="figure">Figure 5 &mdash; Properties on Occurrences</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifcsharedbldgelements/lexical/ifcbeam.htm">IfcBeam</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifccolumn.htm">IfcColumn</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcproductextension/lexical/ifccovering.htm">IfcCovering</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedcomponentelements/lexical/ifcdiscreteaccessory.htm">IfcDiscreteAccessory</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcproductextension/lexical/ifcelementassembly.htm">IfcElementAssembly</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedcomponentelements/lexical/ifcfastener.htm">IfcFastener</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcmember.htm">IfcMember</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcplate.htm">IfcPlate</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcrailing.htm">IfcRailing</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcstair.htm">IfcStair</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcstairflight.htm">IfcStairFlight</a></td><td>O<br/>O</td>
</tr>
</table>
<p><a href="../../link/properties-on-occurrences.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
