<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Properties on Occurences With Type</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.2.1.1.1");
//-->
</script>

<h5 class="std">4.2.1.1.1 Properties on Occurences With Type</h5>
<p class="fig-ref">Figure 6 illustrates an instance diagram.</p>
<table><tr><td><img alt="Properties on Occurences With Type" src="./diagrams/properties-on-occurences-with-type.png" usemap="#f6"><map name="f6"><area shape="rect" coords="8,8,176,140" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,40,376,124" href="../ifckernel/lexical/ifcreldefinesbyproperties.htm" alt="IfcRelDefinesByProperties" /><area shape="rect" coords="408,8,576,116" href="../ifckernel/lexical/ifcpropertyset.htm" alt="IfcPropertySet" /><area shape="rect" coords="608,8,776,20" href="../ifcmeasureresource/lexical/ifctext.htm" alt="IfcText" /><area shape="rect" coords="608,40,776,112" href="../ifcpropertyresource/lexical/ifcproperty.htm" alt="IfcProperty" /></map></td></tr><tr><td><p class="figure">Figure 6 &mdash; Properties on Occurences With Type</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifcsharedcomponentelements/lexical/ifcmechanicalfastener.htm">IfcMechanicalFastener</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcproductextension/lexical/ifcopeningelement.htm">IfcOpeningElement</a></td><td>O<br/>O</td>
</tr>
</table>
<p><a href="../../link/properties-on-occurences-with-type.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
