<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Realizing Connection Singular</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.3");
//-->
</script>

<h3 class="std">4.6.3 Realizing Connection Singular</h3>
<p class="fig-ref">Figure 34 illustrates an instance diagram.</p>
<table><tr><td><img alt="Realizing Connection Singular" src="./diagrams/realizing-connection-singular.png" usemap="#f34"><map name="f34"><area shape="rect" coords="8,8,176,332" href="../ifcsharedcomponentelements/lexical/ifcfastener.htm" alt="IfcFastener" /><area shape="rect" coords="208,8,376,104" href="../ifcproductextension/lexical/ifcrelconnectselements.htm" alt="IfcRelConnectsElements" /><area shape="rect" coords="408,8,576,332" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /></map></td></tr><tr><td><p class="figure">Figure 34 &mdash; Realizing Connection Singular</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifcsharedcomponentelements/lexical/ifcfastener.htm">IfcFastener</a></td><td>O<br/>O</td>
</tr>
<tr><td><a href="../ifcsharedcomponentelements/lexical/ifcmechanicalfastener.htm">IfcMechanicalFastener</a></td><td>O<br/>O</td>
</tr>
</table>
<p><a href="../../link/realizing-connection-singular.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
