<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>SI Units</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.1.1.1");
//-->
</script>

<h4 class="std">4.1.1.1 SI Units</h4>
<p>SI units are defined according to standard prefix and standard name.</p><p class="fig-ref">Figure 1 illustrates an instance diagram.</p>
<table><tr><td><img alt="SI Units" src="./diagrams/si-units.png" usemap="#f1"><map name="f1"><area shape="rect" coords="8,8,176,188" href="../ifckernel/lexical/ifcproject.htm" alt="IfcProject" /><area shape="rect" coords="208,8,376,32" href="../ifcmeasureresource/lexical/ifcunitassignment.htm" alt="IfcUnitAssignment" /><area shape="rect" coords="408,8,576,56" href="../ifcmeasureresource/lexical/ifcsiunit.htm" alt="IfcSIUnit" /><area shape="rect" coords="608,8,776,20" href="../ifcmeasureresource/lexical/ifcunitenum.htm" alt="IfcUnitEnum" /><area shape="rect" coords="608,40,776,52" href="../ifcmeasureresource/lexical/ifcsiprefix.htm" alt="IfcSIPrefix" /><area shape="rect" coords="608,72,776,84" href="../ifcmeasureresource/lexical/ifcsiunitname.htm" alt="IfcSIUnitName" /></map></td></tr><tr><td><p class="figure">Figure 1 &mdash; SI Units</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifckernel/lexical/ifcproject.htm">IfcProject</a></td><td>O<br/>O</td>
</tr>
</table>
<p><a href="../../link/si-units.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
