<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Spatial Containment</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.1.2");
//-->
</script>

<h4 class="std">4.6.1.2 Spatial Containment</h4>
<p>Spatial structures may contain physical elements, including building elements, distribution elements, and furnishing elements.</p><p class="fig-ref">Figure 32 illustrates an instance diagram.</p>
<table><tr><td><img alt="Spatial Containment" src="./diagrams/spatial-containment.png" usemap="#f32"><map name="f32"><area shape="rect" coords="8,8,176,332" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /><area shape="rect" coords="208,8,376,92" href="../ifcproductextension/lexical/ifcrelcontainedinspatialstructure.htm" alt="IfcRelContainedInSpatialStructure" /><area shape="rect" coords="408,8,576,236" href="../ifcproductextension/lexical/ifcspatialstructureelement.htm" alt="IfcSpatialStructureElement" /></map></td></tr><tr><td><p class="figure">Figure 32 &mdash; Spatial Containment</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifcproductextension/lexical/ifcelementassembly.htm">IfcElementAssembly</a></td><td>R<br/>R</td>
</tr>
</table>
<p><a href="../../link/spatial-containment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
