<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Spatial Container</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.1.1");
//-->
</script>

<h4 class="std">4.6.1.1 Spatial Container</h4>
<p>The <a href="spatial-container.htm">Spatial Container</a> concept defines a spatial structure element as being the spatial container for physical elements, such as building elements, distribution elements, or furnishing elements.</i><p class="fig-ref">Figure 31 illustrates an instance diagram.</p>
<table><tr><td><img alt="Spatial Container" src="./diagrams/spatial-container.png" usemap="#f31"><map name="f31"><area shape="rect" coords="8,8,176,236" href="../ifcproductextension/lexical/ifcspatialstructureelement.htm" alt="IfcSpatialStructureElement" /><area shape="rect" coords="208,8,376,92" href="../ifcproductextension/lexical/ifcrelcontainedinspatialstructure.htm" alt="IfcRelContainedInSpatialStructure" /><area shape="rect" coords="408,8,576,332" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /></map></td></tr><tr><td><p class="figure">Figure 31 &mdash; Spatial Container</p></td></tr></table>

<hr/>
<h4>AISC Model View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/aisc-model-view/final-steel-detailing-model.htm"><img width="16" src="../../img/mvd-final-steel-detailing-model.png" title="Final Steel Detailing Model"/></a></th>
</tr><tr><td><a href="../ifcproductextension/lexical/ifcbuildingstorey.htm">IfcBuildingStorey</a></td><td>R<br/>R</td>
</tr>
</table>
<p><a href="../../link/spatial-container.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
